Plugins>Segmentation, "Segmentation with shape priors", ucla.chou.graphcutshapes.GraphcutsShapeprior_Plugin
Plugins>Segmentation, "3D Graph-cut segmentation", ucla.chou.graphcutshapes.GraphcutsShapeprior3D_Plugin
Plugins>Segmentation, "Bacteria segmentation", ucla.chou.graphcutshapes.EcoliSegmenter3D_Plugin
Plugins>Tests, "Get Implicit shape embedding from ROI",ucla.chou.graphcutshapes.ROItoSignedDistance
Plugins>Tests, "Mask image to signed distance",ucla.chou.graphcutshapes.MasktoSignedDistance
Edit>Selection, "Fit Super Ellipse",ucla.chou.graphcutshapes.SuperEllipse_Fitter