Plugins>Segmentation, "Segmentation with shape priors", ucla.chou.graphcutshapes.GraphcutsShapeprior_Plugin
Plugins>Tests, "Get Implicit shape embedding from ROI",ucla.chou.graphcutshapes.ROItoSignedDistance
Plugins>Tests, "Mask image to signed distance",ucla.chou.graphcutshapes.MasktoSignedDistance
Edit>Selection, "Fit Super Ellipse",ucla.chou.graphcutshapes.SuperEllipse_Fitter